@page "/"
@inject IJSRuntime JS

@using RenegadeWizardWasm.Core
@inject Terminal _terminal;
@inject MML _mml;

<PageTitle>Home</PageTitle>
<div class="d-flex flex-wrap justify-content-center gap-1">

    <!-- Left Wing - Items -->
    <div class="d-flex flex-column gap-2 justify-content-center" style="width: 200px;">
        @foreach (var item in Objects)
        {
            <div class="card shadow border-0">
                <div class="card-header fw-bold">@item.Name | @item.Hitpoints hp</div>
                <div class="card-body p-2">
                    <small>@item.Description</small>
                </div>
            </div>
        }
    </div>

    <!-- Main Terminal -->
    <div class="card shadow border-0 mt-4 m-2"
         style="width:950px; max-width: 950px; flex: 1 1 auto; ">
        <h1 class="card-header mobile-hide">RENEGADE WIZARD</h1>
        <div class="card-body">
            <div class="form-control bg-body mb-3 text-white pb-5 position-relative mobile-max-height mobile-text-size"
                 disabled id="mainDisplay"
                 style=" overflow-y: auto; white-space: pre-wrap; font-size: 18px; height: calc(100vh - 230px); ">

                <pre class="text-center m-auto ascii-art mobile-hide" style="font-size: 14px">

                                                                                        /\         *         
[][]    [][][]  []  []  [][][]  [][][]    []    [][]    [][][]                        //  \\               * 
[]  []  []      [][ []  []      []       [][]   []  []  []                          ///    \\ =====    *     
[][]    [][][]  [] ][]  [][][]  []  []  []  []  []  []  [][][]                     //       \\     ==        
[]  []  []      []  []  []      []  []  []  []  []  []  []                        //  /\  /\/\\     ==  *   *
[]  []  [][][]  []  []  [][][]  [][][]  []  []  [][]    [][][]                    |/\/  \/    \\     =       
                                                                                 //        .  \\    ==  *    
                                                                                //    .         \ ==       * 
                      W  W  W  WWWWW   WWWW     WW    WWWW    WWWW            //         V      \\         
                      W  W  W    |         W   WWWW   W   WW  W   W          //     V         .  ||        
                      W  W  W    |     WWWW   W    W  WWWWW   W   W         ||         .          \\       
                      W  W  W    |    W       W    W  W    W  W   W        //      V        V     \\       
                       WW WW   WWWWWW  WWWW   W    W  W    W  WWWW        //    .      .            \\     
                                                                        ///                    V     \\\   
                                                                       ///  .   V        .         .  \\\  

                </pre>
                @foreach (var line in ConsoleLines)
                {
                    <div class="console-line">@((MarkupString)line)</div>
                }


            </div>
            <div class="row">
                <div class="col">
                    <form @onsubmit="HandleSubmit" class="d-flex">
                        <input class="fs-5 form-control bg-white mobile-text-size" autocomplete="off" @bind="UserInput"
                               onkeydown="ConsoleSound(event)"
                               id="mainTextInput" placeholder="I wonder what to do next..."/>
                    </form>

                </div>
            </div>


        </div>
    </div>

    <!-- Right Wing - Creatures -->
    <div class="d-flex flex-column gap-2 justify-content-center" style="width: 200px;">
        @foreach (var creature in Creatures)
        {
            <div class="card shadow border-0">
                <div class="card-header fw-bold">@creature.Name | @creature.Hitpoints hp</div>
                <div class="card-body p-2">
                    <small>@creature.Description</small>
                </div>
            </div>
        }
    </div>


</div>


<div class="bg-animation">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='stars4'></div>
</div><!-- / STAR ANIMATION -->

@code {

    private List<string> ConsoleLines { get; set; } = new();
    private List<Entity> Objects { get; set; } = new();
    private List<Entity> Creatures { get; set; } = new();
    public string UserInput { get; set; } = string.Empty;
    private bool _shouldScroll = false;

    protected override async Task OnInitializedAsync()
    {
        await UpdateTerminal(_terminal.GetBaseText());
    }
    
    public async Task HandleSubmit(EventArgs e)
    {
        await UpdateTerminal(_terminal.EnterInput(UserInput));
    }

    public async Task UpdateTerminal(TerminalResponse response)
    {
        List<string> lines = response.Text;

        foreach (string line in lines)
        {
            string words = _mml.WordReplacement(line);
            string html = _mml.Html(words);
            ConsoleLines.Add(html);
        }

        Objects = response.Objects;
        Creatures = response.Creatures;

        UserInput = "";
        _shouldScroll = true;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_shouldScroll)
        {
            await JS.InvokeVoidAsync("ScrollToBottom");
            _shouldScroll = false;
        }
    }

    private async Task PlaySound(string audio, bool overrideAudio)
    {
        await JS.InvokeVoidAsync("PlaySound", audio, overrideAudio);
    }

}

<script src="/javascript/terminal.js"></script>

<style>

    .ascii-art {
        animation: fade 15s ease forwards;
    }

    .console-line {
        animation: fade 3s ease forwards;
    }
    
    @@keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    
</style>